<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inventoryappstage2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/inventory_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/inventory_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.BookCatalogActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BookEditorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.inventoryappstage2.activities.BookCatalogActivity" />
        </activity>

        <provider
            android:name=".data.BookProvider"
            android:authorities="com.example.inventoryappstage2"
            android:exported="false" />

        <activity
            android:name=".activities.BookDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.inventoryappstage2.activities.BookCatalogActivity" />
        </activity>
    </application>

</manifest>